{% extends 'base.html' %} {% block title %} Books {% endblock %} {% block
page_title %} Available Books {% endblock %} {% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
  <div>
    <h3 class="fw-bold mb-1">Library Books</h3>

    <p class="text-muted mb-0">Browse and request books</p>
  </div>

  <a href="/teacher/dashboard/" class="btn btn-dark rounded-pill px-4">
    <i class="fa-solid fa-arrow-left me-2"></i>

    Back
  </a>
</div>

<div class="row g-4">
  {% for book in books %}

  <div class="col-md-6">
    <div class="card border-0 shadow-sm rounded-4 h-100">
      <div class="card-body p-4">
        <div class="d-flex justify-content-between mb-3">
          <div class="book-icon">
            <i class="fa-solid fa-book"></i>
          </div>

          {% if book.available > 0 %}

          <span class="badge bg-success rounded-pill px-3 py-2">
            Available
          </span>

          {% else %}

          <span class="badge bg-danger rounded-pill px-3 py-2">
            Out Of Stock
          </span>

          {% endif %}
        </div>

        <h4 class="fw-bold">{{ book.title }}</h4>

        <p class="text-muted mb-2">
          <i class="fa-solid fa-user me-2"></i>

          {{ book.author }}
        </p>

        <p class="text-muted mb-4">
          <i class="fa-solid fa-layer-group me-2"></i>

          {{ book.category.name }}
        </p>

        {% if book.available > 0 %}

        <a href="{% url 'teacher_borrow_book' book.id %}"
   class="btn btn-primary rounded-pill px-4">

    <i class="fa-solid fa-book-open-reader me-2"></i>

    Borrow Book

</a>
        {% endif %}
      </div>
    </div>
  </div>

  {% empty %}

  <div class="col-12">
    <div class="alert alert-warning text-center">No Books Available</div>
  </div>

  {% endfor %}
</div>

<style>
  .book-icon {
    width: 60px;

    height: 60px;

    border-radius: 18px;

    background: #dbeafe;

    color: #2563eb;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 24px;
  }
</style>

{% endblock %}
