{% extends 'base.html' %}

{% block title %}
Books
{% endblock %}

{% block page_title %}
Books
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <div>

        <h3 class="fw-bold">
            Library Books
        </h3>

        <p class="text-muted">
            Search and explore available books
        </p>

    </div>

    {% if request.user.role == 'librarian' %}

    <div>

        <a href="{% url 'add_book' %}"
           class="btn btn-primary">

            <i class="fa-solid fa-plus me-2"></i>

            Add Book

        </a>

        <a href="{% url 'add_category' %}"
           class="btn btn-success">

            <i class="fa-solid fa-folder-plus me-2"></i>

            Add Category

        </a>

    </div>

    {% endif %}

</div>

<!-- SEARCH -->

<form method="GET" class="row g-3 mb-4">

    <div class="col-md-5">

        <input
            type="text"
            name="q"
            class="form-control"
            placeholder="Search by title"
        >

    </div>

    <div class="col-md-4">

        <select
            name="category"
            class="form-select"
        >

            <option value="">
                All Categories
            </option>

            {% for cat in categories %}

            <option value="{{ cat.id }}">

                {{ cat.name }}

            </option>

            {% endfor %}

        </select>

    </div>

    <div class="col-md-3">

        <button
            type="submit"
            class="btn btn-dark w-100"
        >

            <i class="fa-solid fa-magnifying-glass me-2"></i>

            Search

        </button>

    </div>

</form>

<!-- BOOKS -->

<div class="row">

    {% for book in books %}

    <div class="col-md-4 mb-4">

        <div class="card border-0 shadow-sm rounded-4 h-100">

            <div class="card-body">

                <h5 class="fw-bold">

                    {{ book.title }}

                </h5>

                <p class="text-muted mb-2">

                    Author:
                    {{ book.author }}

                </p>

                <p class="text-muted mb-2">

                    Category:
                    {{ book.category.name }}

                </p>

                <p class="mb-3">

                    Available:
                    <strong>

                        {{ book.available }}

                    </strong>

                </p>

                <a href="{% url 'book_details' book.id %}"
                   class="btn btn-outline-primary btn-sm">

                    View Details

                </a>

                <!-- ONLY LIBRARIAN -->

                {% if request.user.role == 'librarian' %}

                <a href="{% url 'edit_book' book.id %}"
                   class="btn btn-warning btn-sm">

                    Edit

                </a>

                <a href="{% url 'delete_book' book.id %}"
                   class="btn btn-danger btn-sm">

                    Delete

                </a>

                {% endif %}

            </div>

        </div>

    </div>

    {% empty %}

    <div class="col-12">

        <div class="alert alert-warning text-center">

            No books found.

        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}